<div
  class="min-h-screen bg-gray-100 flex flex-col justify-center overflow-hidden"
>
  <div class="p-10 xs:p-0 mx-auto md:w-full md:max-w-md">
    <h1 class="text-center text-2xl mb-5">{{ 'login.title' | translate }}</h1>
    <div class="bg-white shadow w-full rounded-lg divide-y divide-gray-200">
      <form [formGroup]="form" class="px-5 py-7" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label class="font-semibold text-sm text-gray-600">
            {{ 'login.email' | translate }}
          </mat-label>
          <input
            matInput
            formControlName="email"
            class="border rounded-lg text-sm w-full"
          />
          @if (controls.email.hasError('required')) {
            <mat-error>Email is <strong>required</strong></mat-error>
          }
          @if (controls.email.hasError('email')) {
            <mat-error>Email is not in the correct format!</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label class="font-semibold text-sm text-gray-600">
            {{ 'login.password' | translate }}
          </mat-label>
          <input
            matInput
            formControlName="password"
            type="password"
            class="border rounded-lg px-3 text-sm w-full"
          />
          @if (controls.password.hasError('required')) {
            <mat-error>Password is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        <div>
          <button
            mat-raised-button
            [disabled]="form.invalid"
            class="w-full bg-black text-white rounded-lg disabled:bg-gray-dark"
          >
            @if (isLoading$ | async) {
              ...
            } @else {
              Login
            }
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
