<!--

 -->

<div class="min-h-screen bg-gray-100 flex flex-col justify-center">
  <div class="p-10 xs:p-0 mx-auto md:w-full md:max-w-md">
    <h1 class="text-center text-2xl mb-5">Task Management System</h1>
    <div class="bg-white shadow w-full rounded-lg divide-y divide-gray-200">
      <form [formGroup]="form" class="px-5 py-7" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" >
          <mat-label class="font-semibold text-sm text-gray-600">Email</mat-label>
          <input matInput formControlName="email" class="border rounded-lg text-sm w-full" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label class="font-semibold text-sm text-gray-600">Pasasword</mat-label>
          <input matInput formControlName="password" type="password" class="border rounded-lg px-3 text-sm w-full" />
        </mat-form-field>
        <div>
          <button
            mat-raised-button
            class="transition duration-200 bg-black hover:bg-blue-600 focus:bg-blue-700 focus:shadow-sm focus:ring-4 focus:ring-blue-500 focus:ring-opacity-50 text-white w-full py-2.5 rounded-lg text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block"
          >
          <span class="inline-block mr-2">Login</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

